fastapi
uvicorn
python-dotenv
langchain-google-genai
langgraph
duckduckgo-search 
yfinance
google-search-results
psutil
langchain_community
ddgs
mcp
sseclient-py
httpx
langchain
langchain-chroma 
pypdf
chromadb
langchain-core
pymupdf
